<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- First Part: Navigation Links -->
            <div class="col-md-4">
                <h5>Navigation</h5>
                <div class="footer-navs">
                    <a routerLink="/">Home</a>
                    <a routerLink="/catalog">Catalog</a>
                    <a routerLink="/about-us">About Us</a>
                </div>

            </div>

            <!-- Second Part: Social Media Links -->
            <div class="col-md-4">
                <h5>Social Media</h5>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-telegram"></i></a>
                    <a href="https://github.com/Silhaut/WEB-Tech-Final"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="far fa-envelope"></i></a>
                </div>
            </div>

            <!-- Third Part: Logo and Address -->
            <div class="col-md-4">
                <h5>Company</h5>
                <img src="/assets/img/logo/for-web/png/white-logo-with-title.png" style="width: 160px;" alt="Company Logo"
                    class="img-fluid mb-3">
                <p>Mangilik El , Expo C1<br>Astana, Kazakhstan</p>
            </div>
        </div>
    </div>
</footer>