<!--main services-->
<section class="container-fuild">
    <h3 class="text-center mt-5 display-6">Main categories</h3>
    <div class="row mt-5">
        <div class="col-md-4">
            <a class="nav-link" href="catalog#smartphones">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="/assets/img/products/smartphones/iphone-15.png" alt="Smartphone Category">
                    </div>
                    <div class="product-details text-center">
                        <h4>Smartphones</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="nav-link" href="/catalog#laptops">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="/assets/img/laptop-category.jpg" alt="Laptop Category">
                    </div>
                    <div class="product-details text-center">
                        <h4>Laptops</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="nav-link" href="/catalog#accessories">
                <div class="product-card">
                    <div class="badge">Hot</div>
                    <div class="product-tumb">
                        <img src="/assets/img/products/accessories/Canyon_CNE-CMSW11BL.jpg" alt="Accessories category">
                    </div>
                    <div class="product-details text-center">
                        <h4>Accessories</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!--our status section-->
<section class="container-fluid mt-5  bg-light">
    <div class="row">
        <div class="col-md-6">
            <div class="our-status ">

                <h2 class="text-center display-6">Our status</h2>
                <img src="/assets/img/about-us-background.jpg" class="our-status-img img-fluid" alt="Our Status">

            </div>
        </div>
        <div class="col-md-6">
            <div class="some-text">
                <p>
                    At <b>TechnoTreasures</b>, we take pride in our unwavering commitment to excellence in the world
                    of
                    technology. With a
                    relentless pursuit of innovation and a passion for delivering cutting-edge electronics, we stand
                    as a beacon in the
                    industry.
                </p>
                <ol class="list-group list-group-numbered mt-4">
                    <li class="list-group-item"><b>Unparalleled Quality:</b> Our products undergo rigorous testing
                        to
                        ensure they meet the highest standards of quality,
                        providing you with electronics that are reliable and durable.</li>
                    <li class="list-group-item"><b>Tech Enthusiasts, Tech Experts:</b> Our team consists of
                        dedicated tech
                        enthusiasts and experts who are not just selling
                        products but are deeply passionate about the technology we offer.</li>
                    <li class="list-group-item"><b>Innovation at Every Turn:</b> In the fast-paced world of tech, we
                        stay
                        ahead of the curve. Discover the latest gadgets and
                        innovations, carefully curated to bring you the best in the market.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--brands working with us-->
<section class="our-brands container mt-5">
    <h3 class="text-center mt-5 display-6">Brands working with us</h3>
    <div class="brands row mt-5">
        <div class="col-md-2 text-center"><img src="/assets/img/brands-working-with-us/apple.jpg" alt="Apple"></div>
        <div class="col-md-2 text-center"><img src="/assets/img/brands-working-with-us/hyperx.jpg" alt="HyperX"></div>
        <div class="col-md-2 text-center"><img src="/assets/img/brands-working-with-us/android.jpg" alt="Android"></div>
        <div class="col-md-2 text-center"><img src="/assets/img/brands-working-with-us/lenovo.jpg" alt="Lenovo"></div>
        <div class="col-md-2 text-center"><img src="/assets/img/brands-working-with-us/asus.jpg" alt="Asus"></div>
        <div class="col-md-2 text-center"><img src="/assets/img/brands-working-with-us/samsung.jpg" alt="Samsung"></div>
    </div>
</section>


<div id="cd-shadow-layer"></div>

<!--popular products-->
<section class="popular-products container-fluid mt-5 bg-light">
    <h3 class="text-center mt-5 display-6">Most purchased products</h3>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/lenovo-ideapad3.webp" alt="lenovo-ideapad3">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="/catalog#lenovo-ideapad3">Lenovo IdeaPad 3</a></h4>
                    <p>CPU: Intel core i5 1235U</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>224 990 ₸</small></div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/asus-vovibook-pro-15.webp" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="/catalog#asus-vovibook-pro-15">Asus VivoBook Pro 15</a></h4>
                    <p>CPU: AMD Ryzen 5 1215U</p>
                    <p>RAM: 16GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>409 990 ₸</small></div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/huawei-matebook-140.jpg" alt="huawei-matebook-140">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="/catalog#huawei-matebook-140">Huawei Matebook 14</a></h4>
                    <p>CPU: AMD Ryzen 5 5500U</p>
                    <p>RAM: 16GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>449 990 ₸</small></div>
                        <div class="product-links">
                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="cd-cart">
    <h2>Cart</h2>
    <ul class="cd-cart-items">
        <!--Here is the li it-->
    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
        <p>Total <span id="countOfPrice">0</span></p>
    </div> <!-- cd-cart-total -->

    <a href="#0" class="checkout-btn">Checkout</a>

</div> <!-- cd-cart -->