<!--discount products-->
<section class="container-fluid bg-light p-5 mt-5">
    <h4 class="text-center display-6 mt-5">Discounts</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/macbook-pro-14.webp" alt="macbook-pro-14">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="catalog#macbook-pro-14">Macbook Pro 14</a></h4>
                    <p>CPU: A2681 M2</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 256GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">609 990 ₸</div>
                        <div class="product-price">419 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/lenovo-legion-5.webp" alt="lenovo-legion-5">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="catalog#lenovo-legion-5">Lenovo Legion 5</a></h4>
                    <p>CPU: Intel Core i5</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">409 990 ₸</div>
                        <div class="product-price">279 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//laptops/macbook-air-13.jpg" alt="macbook-air-13">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="catalog#macbook-air-13">Macbook Air 13</a></h4>
                    <p>CPU: A2681 M1</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 128GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">509 990 ₸</div>
                        <div class="product-price">379 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/smartphones/huawei-nova-11-pro.jpg" id="huawei-nova-11-pro" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog#huawei-nova-11-pro">Huawei Nova 11 pro</a></h4>
                    <p>Model year: 2018</p>
                    <p>Storage: 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">109 990 ₸</div>
                        <div class="product-price">89 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/smartphones/samsung-galaxy-s23.jpg" id="samsung-galaxy-s23" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog#samsung-galaxy-s23">Samsung Galaxy S23</a></h4>
                    <p>model year: 2022</p>
                    <p>Storage: 128GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">499 990 ₸</div>
                        <div class="product-price">359 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//smartphones/samsung-galaxy-m54.jpg" id="samsung-galaxy-m54" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog#samsung-galaxy-m54">Samsung Galaxy M54</a></h4>
                    <p>Model year: 2023</p>
                    <p>Storage: 64GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">249 990 ₸</div>
                        <div class="product-price">199 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/106066/400x400/1d49337f6dcebbd55092df56b24f95b3.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Mouse</span>
                    <h4><a href="catalog#logitech-pro">Logitech PRO League of Legends</a></h4>
                    <p>Mouse connection interface: Wireless radio (Lightspeed)</p>
                    <p>Type: Gaming mouse</p>
                    <p>Purpose: for PC, for ApplePC</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">49 990 ₸</div>
                        <div class="product-price">42 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/101424/400x400/02ca073fdc83deb977bd3d30aae8d397.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Earphone</span>
                    <h4><a href="catalog#bose-700">Bose 700 (black)</a></h4>
                    <p>Market launch date: 2019</p>
                    <p>Purpose: portable</p>
                    <p>Type: Headphones with microphone</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">109 990 ₸</div>
                        <div class="product-price">94 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href="catalog.html"><i
                                    class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>