<!--laptops-->
<section id="laptops" class="container-fluid mt-5">
    <h4 class="text-center display-6 mt-5">Laptops</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/asus-expert-book-b1.jpg" alt="asus-expert-book-b1">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Asus ExpertBook B1</a></h4>
                    <p>CPU: Intel Core i3</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">409 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/huawei-matebook-140.jpg" alt="huawei-matebook-140"
                        id="huawei-matebook-140">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Huawei Matebook 14</a></h4>
                    <p>CPU: AMD Ryzen 5 5500U</p>
                    <p>RAM: 16GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>449 990 ₸</small></div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/lenovo-legion-5.webp" id="lenovo-legion-5" alt="lenovo-legion-5">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Lenovo Legion 5</a></h4>
                    <p>CPU: Intel Core i5</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">409 990 ₸</div>
                        <div class="product-price">279 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/lenovo-legion-7.webp" alt="lenovo-legion-7">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Lenovo Legion 7</a></h4>
                    <p>CPU: Intel Core i7</p>
                    <p>RAM: 16GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">649 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/macbook-pro-14.webp" id="macbook-pro-14" alt="macbook-pro-14">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Macbook Pro 14</a></h4>
                    <p>CPU: A2681 M2</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 256GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">609 990 ₸</div>
                        <div class="product-price">419 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/lenovo-ideapad3.webp" alt="lenovo-ideapad3" id="lenovo-ideapad3">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Lenovo IdeaPad 3</a></h4>
                    <p>CPU: Intel core i5 1235U</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price"><small>224 990 ₸</small></div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//laptops/macbook-air-13.jpg" id="macbook-air-13" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Macbook Air 13</a></h4>
                    <p>CPU: A2681 M1</p>
                    <p>RAM: 8GB</p>
                    <p>Storage: SSD 128GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">509 990 ₸</div>
                        <div class="product-price">379 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/laptops/asus-vovibook-pro-15.webp" id="asus-vovibook-pro-15"
                        alt="asus-vovibook-pro-15">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Laptop</span>
                    <h4><a href="">Asus VivoBook Pro</a></h4>
                    <p>CPU: Intel Core i5</p>
                    <p>RAM: 16GB</p>
                    <p>Storage: SSD 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">519 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--smartphones-->
<section id="smartphones" class="container-fluid bg-light p-5 mt-5">
    <h4 class="text-center display-6 mt-5">Smartphones</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/smartphones/huawei-nova-11-pro.jpg" id="huawei-nova-11-pro" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog.html#huawei-nova-11-pro">Huawei Nova 11 pro</a></h4>
                    <p>Model year: 2018</p>
                    <p>Storage: 32GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">109 990 ₸</div>
                        <div class="product-price">89 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//smartphones/iphone-10.jpg" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="">Iphone 10</a></h4>
                    <p>Model year: 2017</p>
                    <p>Storage: 64GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">209 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/smartphones/iphone-11.webp" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="">Iphone 11</a></h4>
                    <p>Model year: 2021</p>
                    <p>Storage: 128GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">329 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//smartphones/iphone-13-pro.jpg" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog.html#iphone-13-pro">Iphone 13 pro</a></h4>
                    <p>Model year: 2022</p>
                    <p>Storage: 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">529 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//smartphones/iphone-15.png" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="">Iphone 15</a></h4>
                    <p>Model year: 2023</p>
                    <p>Storage: 512GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">779 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products//smartphones/samsung-galaxy-m54.jpg" id="samsung-galaxy-m54" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog.html#samsung-galaxy-m54">Samsung Galaxy M54</a></h4>
                    <p>Model year: 2023</p>
                    <p>Storage: 64GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">249 990 ₸</div>
                        <div class="product-price">199 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/smartphones/samsung-galaxy-s23.jpg" id="samsung-galaxy-s23" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="catalog.html#samsung-galaxy-s23">Samsung Galaxy S23</a></h4>
                    <p>model year: 2022</p>
                    <p>Storage: 128GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">499 990 ₸</div>
                        <div class="product-price">359 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="/assets/img/products/smartphones/xiaomi-redmi-5.jpg" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Smartphone</span>
                    <h4><a href="">Xiaomi Redmi 5</a></h4>
                    <p>Model year: 2018</p>
                    <p>Storage: 16GB</p>
                    <div class="product-bottom-details">
                        <div class="product-price">79 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--accessories-->
<section id="accessories" class="container-fluid mt-5">
    <h4 class="text-center display-6 mt-5">Accessories</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/106500/400x400/93dad2e6052a28c25818423a843f2516.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Mouse</span>
                    <h4><a href="">Canyon CNE-CMSW11BL</a></h4>
                    <p>Radio connection interface</p>
                    <p>Sensor model: optical</p>
                    <p>DPI: 1200dpi</p>
                    <div class="product-bottom-details">
                        <div class="product-price">12 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/105474/400x400/80c18ddbc8a6895671037996953ce5bf.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Earphone</span>
                    <h4><a href="">Logitech G305 SE + G435 SE</a></h4>
                    <p>Type: Game Set</p>
                    <p>The composition of the set: mouse + headphones</p>
                    <p>Mouse features: built-in memory, programmable buttons</p>
                    <div class="product-bottom-details">
                        <div class="product-price">32 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/106500/400x400/93dad2e6052a28c25818423a843f2516.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Mouse</span>
                    <h4><a href="">HyperX Haste Wireless</a></h4>
                    <p>Mouse connection interface: wireless radio</p>
                    <p>Sensor type: optical</p>
                    <p>The maximum resolution of the sensor: 16,000 dpi</p>
                    <div class="product-bottom-details">
                        <div class="product-price">7 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/102890/400x400/02f59b3c9bb6239cae75e179ff181689.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Mouse</span>
                    <h4><a href="">Logitech G502 X Plus</a></h4>
                    <p>Mouse connection interface: wireless radio</p>
                    <p>Type: Gaming mouse</p>
                    <p>Purpose: for PC</p>
                    <div class="product-bottom-details">
                        <div class="product-price">16 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/101525/400x400/da81558f919169810ff68711bd83430f.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Earphone</span>
                    <h4><a href="">Apple AirPods Max (purple)</a></h4>
                    <p>Type: Headphones with microphone</p>
                    <p>Construction: monitor (covering)</p>
                    <p>Acoustic design: closed</p>
                    <div class="product-bottom-details">
                        <div class="product-price">219 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img id="logitech-pro"
                        src="https://technozone.by/assets/images/products/106066/400x400/1d49337f6dcebbd55092df56b24f95b3.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Mouse</span>
                    <h4><a href="">Logitech PRO League of Legends</a></h4>
                    <p>Mouse connection interface: Wireless radio (Lightspeed)</p>
                    <p>Type: Gaming mouse</p>
                    <p>Purpose: for PC, for Apple computers</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">49 990 ₸</div>
                        <div class="product-price">42 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img id="bose-700"
                        src="https://technozone.by/assets/images/products/101424/400x400/02ca073fdc83deb977bd3d30aae8d397.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Earphone</span>
                    <h4><a href="">Bose 700 (black)</a></h4>
                    <p>Market launch date: 2019</p>
                    <p>Purpose: portable</p>
                    <p>Type: Headphones with microphone</p>
                    <div class="product-bottom-details">
                        <div class="product-price-sale">109 990 ₸</div>
                        <div class="product-price">94 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="badge">Hot</div>
                <div class="product-tumb">
                    <img src="https://technozone.by/assets/images/products/97485/400x400/d380283866f249ceabc53396f0836879.jpg"
                        alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">Earphone</span>
                    <h4><a href="">Corsair HS75 XB Wireless</a></h4>
                    <p>Type: Headphones with microphone</p>
                    <p>Construction: monitor (covering)</p>
                    <p>Acoustic design: closed</p>
                    <div class="product-bottom-details">
                        <div class="product-price">79 990 ₸</div>
                        <div class="product-links">
                            <a class="add-to-the-shopping-cart" href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="cd-shadow-layer"></div>

<div id="cd-cart">
    <h2>Cart</h2>
    <ul class="cd-cart-items">
        <!--Here is the li it-->
    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
        <p>Total <span id="countOfPrice">0</span></p>
    </div> <!-- cd-cart-total -->

    <a href="#0" class="checkout-btn">Checkout</a>

</div> <!-- cd-cart -->
