<!--map and location-->
<section class="container mb-5">
    <h4 class="text-center display-6 mt-5">
        About us
    </h4>
    <div class="row mt-5">
        <div class="col-md-6 map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10023.869317101744!2d71.41791006002198!3d51.09061044846556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1700847044372!5m2!1sru!2skz"
                width="500" height="450" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 location-text">
            <p>Welcome to <b>TechnoTreasures</b> – where technology meets excellence. Founded with a passion for
                innovation
                and a vision to
                redefine the electronics market, we are more than just a tech store; we are a community of
                enthusiasts dedicated to
                delivering the best in the world of gadgets.
            </p>

            <h4 class="display-6 mt-5">Why Choose <b>TechnoTreasures</b></h4>
            <ol class="list-group list-group-numbered mt-4">
                <li class="list-group-item">
                    <b>Expertise:</b> Our team comprises tech experts passionate about helping you
                    find the perfect tech solution.
                </li>
                <li class="list-group-item">
                    <b>Diversity:</b> From laptops to smartphones, gaming gear to accessories, we
                    offer a diverse range of products to cater to
                    every tech need.
                </li>
                <li class="list-group-item">
                    <b>Trust:</b> Thousands of satisfied customers trust us for their tech needs.
                    Join the TechnoTreasures family and experience
                    the difference.
                </li>
            </ol>
        </div>
    </div>
</section>

<!--goals, values, social responsibility-->
<section class="container-fluid bg-light p-5">
    <h4 class="text-center display-6 mt-5">Discover tech, unearth treasures</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="goals-values-responsibility">
                <h5 class="text-center mt-5 h3">
                    Goals
                </h5>
                <p class="about-us-paragraph">At TechnoTreasures, our mission is to empower individuals with
                    cutting-edge
                    technology that
                    enhances their lives. We
                    strive to be a catalyst for positive change, pushing the boundaries of what's possible and
                    making the latest innovations
                    accessible to all.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="goals-values-responsibility">
                <h5 class="text-center mt-5 h3">
                    Values
                </h5>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">
                        <b>Innovation:</b> We embrace change and constantly seek new and creative ways to bring the
                        latest
                        tech marvels to our
                        customers.
                    </li>
                    <li class="list-group-item">
                        <b>Quality:</b> Excellence is not just a goal; it's our standard. We meticulously curate a
                        selection of products known for
                        their quality and reliability.
                    </li>
                    <li class="list-group-item">
                        <b>Customer Satisfaction:</b> Your satisfaction is our success. We prioritize your needs and
                        provide personalized service to
                        ensure a seamless and enjoyable experience.
                    </li>
                    <li class="list-group-item">
                        <b>Community:</b> TechnoTreasures is more than a store; it's a community of tech
                        enthusiasts. Join
                        us in the exploration of the
                        ever-evolving world of technology.
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-md-4">
            <div class="goals-values-responsibility">
                <h5 class="text-center mt-5 h3">
                    Social Responsibility
                </h5>
                <p class="about-us-paragraph">At TechnoTreasures, we believe that success goes hand in hand with
                    responsibility. We are committed to making a positive
                    impact on society, the environment, and the communities we serve. Our social responsibility
                    initiatives are an integral
                    part of who we are.</p>
            </div>
        </div>
    </div>
</section>

<div id="cd-shadow-layer"></div>

<div id="cd-cart">
    <h2>Cart</h2>
    <ul class="cd-cart-items">
        <!--Here is the li it-->
    </ul> <!-- cd-cart-items -->

    <div class="cd-cart-total">
        <p>Total <span id="countOfPrice">0</span></p>
    </div> <!-- cd-cart-total -->

    <a href="#0" class="checkout-btn">Checkout</a>

    <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
</div> <!-- cd-cart -->